<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MJExtensionDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MJExtensionDemo_Widgets.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>MJWidgets.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A511181C1F259EE300C88BF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A51118351F259EE400C88BF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A51118401F259EE400C88BF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5A680071F29877100EE3BC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5A680211F298E7A00EE3BC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
